<!-- Bage (ejs file) That returns Error message if type error  -->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Please Try Again , That's Not A Number!</h1>
    <button><a href="/">Back</a></button>
  </body>
</html>
